<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="gamepad" default="false" doc="use gamepad"/>

  <!-- IF gamepad == true THEN use(gamepad) ELSE use(keyboard) -->
  <group if="$(arg gamepad)">
    <node name="joy_node" pkg="joy" type="joy_node">
      <!--
      The robot's motors' drivers make them stop if it doesn't receive a command 0.2s (f=5Hz) after the last
      -->
      <param name = "autorepeat_rate" value = "6"/>
    </node>
    <node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node"  />
  </group>
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen" unless="$(arg gamepad)" />
  
  <!-- Run slam_gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=scan" >
    <rosparam file="$(find rc_logistics_robot)/param/real/mapping_params.yaml" command="load" />
  </node>

  <!-- Run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find rc_logistics_robot)/rviz/mapping_real.rviz"/>
</launch>