<?xml version="1.0"?>
<launch>
  <!-- Run map_server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find museum_guide)/maps/map_real.yaml" output="screen"/>

  <!-- Launch amcl -->
  <include file="$(find museum_guide)/launch/amcl.launch">
    <arg name="initial_pose_x" default="0"/>
    <arg name="initial_pose_y" default="0"/>
    <arg name="initial_pose_a" default="0"/>
  </include>

 <!-- Launch move_base_real -->
 <include file="$(find museum_guide)/launch/move_base_real.launch"/>

  <!-- Run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find museum_guide)/rviz/real.rviz"/>
</launch>