<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="6.0"/>
  <arg name="y_pos" default="1.7"/>
  <arg name="z_pos" default="0.05"/>
  <arg name="gamepad" default="false" doc="use gamepad"/>

  <!-- Launch empty_world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rc_logistics_robot)/worlds/sim.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- TurtleBot3 URDF -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Run spawn_model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <!-- Run robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <!-- Run map_server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find rc_logistics_robot)/maps/map_sim.yaml"/>

  <!-- Launch amcl -->
  <include file="$(find rc_logistics_robot)/launch/amcl.launch">
    <arg name="initial_pose_x" default="6"/>
    <arg name="initial_pose_y" default="1.7"/>
    <arg name="initial_pose_a" default="0.0"/>
  </include>

 <!-- Launch move_base -->
  <include file="$(find rc_logistics_robot)/launch/move_base_sim.launch"/>
  
  <!-- Remapping for barcode_reader_node -->  
  <remap from="/webcam/image_raw" to="/image"/>
  <!-- Launch camera -->
  <include file="$(find video_stream_opencv)/launch/camera.launch" >
      <arg name="camera_name" value="webcam" />       <!-- use webcam -->
      <arg name="video_stream_provider" value="0" />  <!-- webcam name -->
      <arg name="set_camera_fps" value="30"/>
      <arg name="buffer_queue_size" value="100" />
      <arg name="fps" value="30" />
      <arg name="frame_id" value="webcam" />
      <arg name="flip_horizontal" value="false" />
      <arg name="flip_vertical" value="false" />
      <arg name="visualize" value="false" />
  </include>

  <!-- Run rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find rc_logistics_robot)/rviz/sim.rviz"/>

  <!-- Run barcode_reader_node -->
  <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader">
        <param name="throttle_repeated_barcodes" type="double" value="2.0"/>
  </node>
 
  <!-- Run move_base_client_node -->
  <node pkg="rc_logistics_robot" type="qr_goals_sim_node.py" name="move_base_client_node" output="screen" />
</launch>